
body {
  font-family: 'Satoshi', sans-serif;
}

@keyframes loading-bar {
    0% {
        left: -100%;
        width: 30%;
    }
    50% {
        left: 50%;
        width: 50%;
    }
    100% {
        left: 100%;
        width: 30%;
    }
}

.animate-loading {
    animation: loading-bar 1.5s infinite ease-in-out;
}


  
  /* Kunci animasi untuk rotasi */
  @keyframes spin {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }

  .rotate-spin {
    animation: spin 1s infinite linear;
  } 
